 .u-section-1 {
  background-image: linear-gradient(#adf6f2, #f9e79b);
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-text-1 {
  font-size: 4.375rem;
  margin: 125px 92px 60px 140px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 32px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}